<header class="modal-header">
    <h1>Add Users</h1>
</header>
{{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
<a class="close" href="" title="Close" {{action "closeModal"}} {{action (optional noop) on="mouseDown"}}>
    {{svg-jar "close"}}<span class="hidden">Close</span>
</a>

<div class="modal-body">
    <fieldset>
        {{#gh-form-group errors=errors hasValidated=hasValidated property="username"}}
            <label for="new-user-name">Username</label>
            {{gh-text-input
                class="username"
                id="new-user-name"
                placeholder="Username"
                name="username"
                autofocus="autofocus"
                autocapitalize="off"
                autocorrect="off"
                value=(readonly username)
                input=(action (mut username) value="target.value")
                keyEvents=(hash
                    Enter=(action "confirm")
                )
                focus-out=(action "validate" "username")
            }}
            {{gh-error-message errors=errors property="username"}}
        {{/gh-form-group}}


        {{#gh-form-group class="for-select" errors=errors hasValidated=hasValidated property="role"}}
            <label for="new-user-role">Role</label>
            <span class="gh-select">
                {{one-way-select
                    id="new-user-role"
                    name="role"
                    options=(readonly roles)
                    optionValuePath="id"
                    optionLabelPath="name"
                    value=role
                    update=(action "setRole")
                }}
                {{svg-jar "arrow-down-small"}}
            </span>
            {{gh-error-message errors=errors property="role"}}
        {{/gh-form-group}}
    </fieldset>
</div>

<div class="modal-footer">
    {{gh-task-button "Add User"
        successText="Sent"
        task=sendInvitation
        class="gh-btn gh-btn-green gh-btn-icon"
        disabled=fetchRoles.isRunning
        disableMouseDown=true}}
</div>
